<h1>Edit this item</h1>

<%= form_for @item do |f| %>

  <div>
    <%= f.label :item_name%>
    <%= f.text_field :item_name%>
  </div>

  <div>
    <%= f.label :kind%>
    <%= f.text_field :kind%>
  </div>

   <div>
    <%= f.label :weight%>
    <%= f.number_field :weight%>
  </div>

   <div>
    <%= f.label :description%>
    <%= f.text_area :description%>
  </div>

  <%= f.submit "Change this item" %>

<%end%>

<%= link_to "Back to the inventory", lists_path %>      
