<h1>My Items</h1>
<section>
    <% @items.each do |item| %>
      <div>
        <p><strong>Name:</strong> <%= item.item_name %></p> 
        <p><strong>Type:</strong> <%= item.kind %></p>    
        <p><strong>Weight:</strong> <%= item.weight %></p>
        <p><strong>Description:</strong> <%= item.description %></p>
        <%= link_to "More info", item_path(item) %>
      
        
    <%end%>

      </div>  
</section>