<!DOCTYPE html>
<html>
<head>
  <title>Inventory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/navbar.html.erb"%>

<% if flash[:welcome] %>
    <h4 class="bg-success flash"><%= flash[:welcome] %></h4>
<% end %>

<% if flash[:error] %>
    <h4 class="bg-danger flash"><%= flash[:error] %></h4>
<% end %>

<%= yield %>

</body>
</html>
